{% extends "base.html" %} {% load static %} {% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Liste des Contrats</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Contrats</li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Liste Complète des Contrats. Vous pouvez rechercher, filtrer,
              modifier ou supprimer.
            </h5>
            <p>
              <button
                type="button"
                class="btn btn-success btn-lg"
                onclick="window.location.href='{% url 'ajouter_contrat' %}'"
              >
                <i class="ri-add-circle-fill"></i> Ajouter
              </button>
            </p>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Nom Employé</th>
                  <th>Type de Contrat</th>
                  <th>Salaire</th>
                  <th>Date de Début</th>
                  <th>Date de Fin</th>
                  <th>Date d'ajout</th>
                  <th>Modifier</th>
                  <th>Supprimer</th>
                </tr>
              </thead>
              <tbody>
                {% for contrat in contrats %}
                <tr>
                  <td>{{ contrat.employe.nom }}</td>
                  <td>{{ contrat.get_type_contrat_display }}</td>
                  <td>{{ contrat.salaire }}</td>
                  <td>{{ contrat.date_debut|date:"d/m/Y" }}</td>
                  <td>{{ contrat.date_fin|date:"d/m/Y" }}</td>
                  <td>{{ contrat.date_creation|date:"d/m/Y" }}</td>

                  <td>
                    <a
                      class="btn btn-outline-info"
                      href="{% url 'modifier_contrat' contrat.id %}"
                    >
                      <i class="bi bi-pencil-square"></i> Modifier
                    </a>
                  </td>

                  <!-- Button trigger modal -->
                  <td>
                    <a
                      href="#"
                      class="btn btn-outline-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal{{ contrat.id }}"
                    >
                      <i class="bi bi-trash"></i> Supprimer
                    </a>
                  </td>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="deleteModal{{ contrat.id }}"
                    tabindex="-1"
                    aria-labelledby="deleteModalLabel{{ contrat.id }}"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5
                            class="modal-title"
                            id="deleteModalLabel{{ contrat.id }}"
                          >
                            Confirmer la suppression
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          Êtes-vous sûr de vouloir supprimer ce contrat ? Cette
                          action est irréversible.
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Annuler
                          </button>

                          <!-- Formulaire de suppression -->
                          <form
                            action="{% url 'supprimer_contrat' contrat.id %}"
                            method="POST"
                          >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">
                              Oui, Supprimer
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
