{% extends "base.html" %} {% load static %} {% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Ajouter une Commande d'Approvisionnement</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
        <li class="breadcrumb-item">
          <a href="{% url 'liste_commandes' %}">Commandes</a>
        </li>
        <li class="breadcrumb-item active">Ajouter</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Formulaire d'ajout d'une commande d'approvisionnement
            </h5>

            <!-- Formulaire d'ajout -->
            <form method="POST" class="row g-3">
              {% csrf_token %} {% load crispy_forms_tags %} {{ form|crispy }}

              <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">
                  <i class="bi bi-check-circle"></i> Enregistrer la commande
                </button>
                <a
                  href="{% url 'liste_commandes' %}"
                  class="btn btn-secondary btn-lg"
                >
                  <i class="bi bi-arrow-left-circle"></i> Retour
                </a>
                <button type="reset" class="btn btn-secondary btn-lg">
                  <i class="bi bi-arrow-counterclockwise"></i> Réinitialiser
                </button>
              </div>
            </form>
            <!-- Fin du formulaire d'ajout -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
