{% extends "base.html" %} {% load static %} {% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Liste des Stocks</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
        <li class="breadcrumb-item">Stocks</li>
        <li class="breadcrumb-item active">Liste des Stocks</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Liste complète des stocks. Vous pouvez effectuer des recherches,
              modifier ou supprimer.
            </h5>
            <p>
              <button
                type="button"
                class="btn btn-success btn-lg"
                onclick="window.location.href='{% url 'ajouter_stock' %}'"
              >
                <i class="ri-add-circle-fill"></i> Ajouter un Stock
              </button>
            </p>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Produit</th>
                  <th>Quantité</th>
                  <th>Seuil Minimum</th>
                  <th>Statut</th>
                  <th>Emplacement</th>
                  <th>Modifier</th>
                  <th>Supprimer</th>
                </tr>
              </thead>
              <tbody>
                {% for stock in stocks %}
                <tr>
                  <td>{{ stock.produit.nom }}</td>
                  <td>{{ stock.quantite }}</td>
                  <td>{{ stock.seuil_minimum }}</td>
                  <td>{{ stock.get_statut_display }}</td>
                  <td>{{ stock.get_emplacement_display }}</td>

                  <td>
                    <a
                      class="btn btn-outline-info"
                      href="{% url 'modifier_stock' stock.id %}"
                    >
                      <i class="bi bi-pencil-square"></i> Modifier
                    </a>
                  </td>
                  <td>
                    <a
                      href="#"
                      class="btn btn-outline-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal{{ stock.id }}"
                    >
                      <i class="bi bi-trash"></i> Supprimer
                    </a>
                  </td>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="deleteModal{{ stock.id }}"
                    tabindex="-1"
                    aria-labelledby="deleteModalLabel{{ stock.id }}"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5
                            class="modal-title"
                            id="deleteModalLabel{{ stock.id }}"
                          >
                            Confirmer la suppression
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          Êtes-vous sûr de vouloir supprimer ce stock ? Cette
                          action est irréversible.
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Annuler
                          </button>

                          <!-- Formulaire de suppression -->
                          <form
                            action="{% url 'supprimer_stock' stock.id %}"
                            method="POST"
                          >
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">
                              Oui, Supprimer
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
{% endblock content %}
